* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(104, 104, 105);
  color: white;
}

.nav-bar {
  background-color: rgb(61, 59, 59);
  padding: 2em;
}

.text {
  color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  width: 50%;
}

.container-resultados {
  padding: 20px;
}

.inputcursos {
  margin: 10px !important;
}

.ui.button {
  margin: 10px !important;
}

.inputcursos {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #87a0e6;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.button-link {
  border: 1px solid;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}
